In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
myDict = {"Ayse" : 50 , "Ali" : 40 , "Veli" : 30}

In [3]:
pd.Series(myDict)

Ayse    50
Ali     40
Veli    30
dtype: int64

In [4]:
type(pd.Series(myDict))

pandas.core.series.Series

In [8]:
ages = [50,40,30]
names = ["Ayse", "Ali",  "Veli"]

In [6]:
pd.Series(ages)

0    50
1    40
2    30
dtype: int64

In [9]:
pd.Series(ages,names)

Ayse    50
Ali     40
Veli    30
dtype: int64

In [11]:
pd.Series(data=ages, index = names)

Ayse    50
Ali     40
Veli    30
dtype: int64

In [12]:
arr1 = np.array([50,40,30])

In [13]:
arr1

array([50, 40, 30])

In [14]:
pd.Series(arr1)

0    50
1    40
2    30
dtype: int32

In [15]:
pd.Series(arr1, names)

Ayse    50
Ali     40
Veli    30
dtype: int32

In [17]:
pd.Series(["Ayse" , "Osman", "Arzu"] , [1,2,3])

1     Ayse
2    Osman
3     Arzu
dtype: object

In [19]:
sira1 = pd.Series([10,5,1],["Ayse" , "Osman","Arzu"])

In [21]:
sira1

Ayse     10
Osman     5
Arzu      1
dtype: int64

In [22]:
sira2 = pd.Series([20,10,8],["Ayse" , "Osman","Arzu"])

In [23]:
sira2

Ayse     20
Osman    10
Arzu      8
dtype: int64

In [25]:
sira2["Osman"]

10

In [27]:
sonuc = sira1 + sira2

In [28]:
sonuc

Ayse     30
Osman    15
Arzu      9
dtype: int64

In [29]:
s1 = pd.Series([20,30,40,50], ["a","b","c","d"])

In [30]:
s2 = pd.Series([10,5,3,1], ["a","c","f","g"])

In [31]:
s1

a    20
b    30
c    40
d    50
dtype: int64

In [32]:
s2

a    10
c     5
f     3
g     1
dtype: int64

In [34]:
s1 + s2   # indexleri farklı old için NaN verdi

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64