In [1]:
import pandas as pd
import numpy as np

In [2]:
dictdata = {"Istanbul" : [30,29, np.nan] , "Ankara" : [20,np.nan,25], "Trabzon" : [32,29,25]}
dfWeither =pd.DataFrame(dictdata)

In [3]:
dfWeither

   Istanbul  Ankara  Trabzon
0      30.0    20.0       32
1      29.0     NaN       29
2       NaN    25.0       25

In [4]:
dfWeither.dropna()

   Istanbul  Ankara  Trabzon
0      30.0    20.0       32

In [5]:
dfWeither

   Istanbul  Ankara  Trabzon
0      30.0    20.0       32
1      29.0     NaN       29
2       NaN    25.0       25

In [6]:
dfWeither.dropna(axis = 1)

   Trabzon
0       32
1       29
2       25

In [7]:
dictdata2 = {"Istanbul" : [30,29, np.nan] , "Ankara" : [20,np.nan,25], "Trabzon" : [32,29,25], "Antalya" : [45 , np.nan , np.nan]}
dfWeither2 =pd.DataFrame(dictdata2)

In [8]:
dfWeither2

   Istanbul  Ankara  Trabzon  Antalya
0      30.0    20.0       32     45.0
1      29.0     NaN       29      NaN
2       NaN    25.0       25      NaN

In [9]:
dfWeither2.dropna(axis = 1 , thresh = 2) # sütunlarda 2 NaN değer olanları sil

   Istanbul  Ankara  Trabzon
0      30.0    20.0       32
1      29.0     NaN       29
2       NaN    25.0       25

In [10]:
dfWeither2

   Istanbul  Ankara  Trabzon  Antalya
0      30.0    20.0       32     45.0
1      29.0     NaN       29      NaN
2       NaN    25.0       25      NaN

In [11]:
dfWeither2.fillna(20)

   Istanbul  Ankara  Trabzon  Antalya
0      30.0    20.0       32     45.0
1      29.0    20.0       29     20.0
2      20.0    25.0       25     20.0

## groupby

In [15]:
dictSalary = {"Departman" : ["Yazılım" , "Yazılım" , "Pazarlama" , "Pazarlama" , "Hukuk" , "Hukuk"],
             "Calisan ismi" : ["Ahmet","Mehmet","Ali","Veli","Ayse","Fatma"],
             "Maas" : [100,150,200,300,400,500]}

In [16]:
dfSalary = pd.DataFrame(dictSalary)

In [17]:
dfSalary

   Departman Calisan ismi  Maas
0    Yazılım        Ahmet   100
1    Yazılım       Mehmet   150
2  Pazarlama          Ali   200
3  Pazarlama         Veli   300
4      Hukuk         Ayse   400
5      Hukuk        Fatma   500

In [21]:
grupdf = dfSalary.groupby("Departman")

In [22]:
grupdf.count()

           Calisan ismi  Maas
Departman
Hukuk                 2     2
Pazarlama             2     2
Yazılım               2     2

In [29]:
grupdf.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [30]:
grupdf.min()

          Calisan ismi  Maas
Departman
Hukuk             Ayse   400
Pazarlama          Ali   200
Yazılım          Ahmet   100

In [31]:
grupdf.max()

          Calisan ismi  Maas
Departman
Hukuk            Fatma   500
Pazarlama         Veli   300
Yazılım         Mehmet   150

In [32]:
grupdf.describe()

           Maas
          count   mean        std    min    25%    50%    75%    max
Departman
Hukuk       2.0  450.0  70.710678  400.0  425.0  450.0  475.0  500.0
Pazarlama   2.0  250.0  70.710678  200.0  225.0  250.0  275.0  300.0
Yazılım     2.0  125.0  35.355339  100.0  112.5  125.0  137.5  150.0

In [33]:
grupdf.describe().T

Departman        Hukuk   Pazarlama     Yazılım
Maas count    2.000000    2.000000    2.000000
     mean   450.000000  250.000000  125.000000
     std     70.710678   70.710678   35.355339
     min    400.000000  200.000000  100.000000
     25%    425.000000  225.000000  112.500000
     50%    450.000000  250.000000  125.000000
     75%    475.000000  275.000000  137.500000
     max    500.000000  300.000000  150.000000